h1 {
  text-align: center;
}

#game-container {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  background-color: #2d2d2d;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.game-board {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.block {
  width: 20px;
  height: 20px;
  border: solid 1px black;
  box-sizing: border-box;
}

.option-container {
  width: 500px;
  height: 75px;
  background-color: steelblue;
  display: flex;
  align-items: center;
  margin: 30px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.destroyer {
  background-color: orange;
}

.destroyer-preview {
  width: 20px;
  height: 10px;
  margin: 2px;
}

.submarine-preview {
  width: 30px;
  height: 10px;
  margin: 2px;
}

.submarine {
  background-color: white;
}

.cruiser-preview {
  width: 30px;
  height: 10px;
  margin: 2px;
}

.cruiser {
  background-color: brown;
}

.battleship-preview {
  width: 40px;
  height: 10px;
  margin: 2px;
}

.battleship {
  background-color: pink;
}

.carrier-preview {
  width: 50px;
  height: 10px;
  margin: 2px;
}

.carrier {
  background-color: black;
}

.hover {
  background-color: lightgrey;
}

/* #computer .destroyer,
#computer .submarine,
#computer .cruiser,
#computer .battleship,
#computer .carrier {
  background-color: gray;
} */

.boom {
  background-color: red !important;
}

.empty {
  background-color: lightgrey !important;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#game-info {
  text-align: center;
}

button {
  background-color: steelblue;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  margin: 10px;
}
